.container-table {
    width: 100%;
    height: 500px;
    background-color: #2A3042;
    position: relative;
    
}
.table {
    position: absolute;
    /* padding: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2A3042;
    box-sizing:content-box;
    width: 90%;
    height: 50%;
    text-align: center;
    border-collapse: collapse;
    color: #A2AECF;
    padding: 30px 20px;
}

.table tr:nth-child(1){
    background-color: #32394E;
}


.table .row {
    border-bottom: 1px solid #32394E;
}

.table .red {
    color: #f46a6a;

}

.table .green {
    color: #34c38f;
}

.table .red .background-type {
    background-color: rgba(244,106,106,.18); 
    padding: 5px;
    border-radius: 3px;
}
.table .green .background-type {
    background-color: rgba(52,195,143,.18);
    padding: 5px;
}