.grid-container {
    display: grid;
    grid-template-columns: auto 21% 21% 21%;
    grid-template-rows: 160px 213px 1fr;
    margin: 10px;
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    /* justify-content: center; */
    /* align-content: center; */
}
.grid-container .grid-item {
    margin: 10px;
}

.grid-container .user-gird-item   {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-container .card1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-container .card2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.grid-container .card3 {
    grid-column: 4/5;
    grid-row: 1/2;
}


.grid-container .chart-grid-item {
    grid-column: 2/5;
    grid-row: 2/4;
}


.grid-container .table-grid-item{
    grid-column: 1/2;
    grid-row:3/4;
}

.grid-container .transaction-grid-item {
    grid-column: 1/2;
    grid-row: 3/4;
}